<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ChineseChess</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckUser</display-name>
    <servlet-name>CheckUser</servlet-name>
    <servlet-class>src.myservlet.CheckUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUser</servlet-name>
    <url-pattern>/Web/jsp/CheckUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page_Servlet</display-name>
    <servlet-name>Page_Servlet</servlet-name>
    <servlet-class>src.myservlet.Page_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page_Servlet</servlet-name>
    <url-pattern>/Web/jsp/Page_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Friend_Servlet</display-name>
    <servlet-name>Friend_Servlet</servlet-name>
    <servlet-class>src.myservlet.Friend_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Friend_Servlet</servlet-name>
    <url-pattern>/Web/jsp/Friend_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewUser</display-name>
    <servlet-name>NewUser</servlet-name>
    <servlet-class>src.myservlet.NewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUser</servlet-name>
    <url-pattern>/Web/jsp/NewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameServlet</display-name>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>src.myservlet.GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/Web/jsp/GameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeforeGame</display-name>
    <servlet-name>BeforeGame</servlet-name>
    <servlet-class>src.myservlet.BeforeGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeforeGame</servlet-name>
    <url-pattern>/Web/jsp/BeforeGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeforePlay</display-name>
    <servlet-name>BeforePlay</servlet-name>
    <servlet-class>src.myservlet.BeforePlay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeforePlay</servlet-name>
    <url-pattern>/Web/jsp/BeforePlay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatServlet</display-name>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>src.myservlet.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/Web/jsp/ChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendsServlet</display-name>
    <servlet-name>FriendsServlet</servlet-name>
    <servlet-class>src.myservlet.FriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendsServlet</servlet-name>
    <url-pattern>/FriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewFriend</display-name>
    <servlet-name>NewFriend</servlet-name>
    <servlet-class>src.myservlet.NewFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewFriend</servlet-name>
    <url-pattern>/Web/jsp/NewFriend</url-pattern>
  </servlet-mapping>
</web-app>